// reset
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;

}
html * { 
	outline: 0; 
	-webkit-text-size-adjust: none; 
	-ms-text-size-adjust: none; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
body,th,td,p,ol,ul,li,dl,dt,dd,a,h1,h2,h3,h4,h5,h6,form,fieldset,input,legend,select,textarea{ 
	margin:0; padding:0; 
}
input,img,fieldset{ 
	border:none; 
}
input, select,fieldset{ 
	vertical-align:middle; 
}
ul, ol {
	list-style-type: none; 
}
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
img { 
	max-width: 100%; 
	vertical-align:top; 
}
i, cite, em, var, address, dfn { 
	font-style: normal; 
}
a:link{ text-decoration: none }
a:hover{ text-decoration: none }
a:active{ text-decoration: none }
a:visited{ text-decoration: none }
// When use placeholder, this css can hide it when the input focused. This is selectable, not must.
input:focus::-webkit-input-placeholder { 
	color: transparent; 
}
input:focus:-moz-placeholder, input:focus::-moz-placeholder { 
	color: transparent; 
}
button, input[type=button], input[type=password], input[type=submit], input[type=text], textarea { 
	-webkit-appearance: none; }
input:-ms-clear {display:none; }  /* clear IE10 X */
// in Android WebView, The strange situation appears when the input element input
input {-webkit-user-modify: read-write-plaintext-only; }


// common css
.clear::after{ 
	content:""; 
	display:block; 
	height:0; 
	clear:both; 
	line-height: 0; 
	visibility: hidden; 
}  
// position
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.bc { margin:0 auto; }
.fl { float:left; }
.fr { float:right; }
.vm { vertical-align: middle; }
.pr { position: relative; }
.pa { position: absolute; }
.none { display: none; }
.block { display: block; }
// font
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f20 { font-size: 20px; }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.t2 { text-indent: 2em; }

/* ellipsis */
.elli { 
	display: block; 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
}

.mr6 { margin-right:6px; }
.w10 { width:10px; }
.h10 { height:10px; }
del { text-decoration:line-through; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
